.select {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    cursor: pointer;
    .input {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        input {
            width: 100%;
            height: 100%;
            color: #333333;
            background: #ffffff;
            outline-style: none;
            padding: 14px 14px;
            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            cursor: pointer;
        }
        input:focus {
            border-color: #ff3f34;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(168, 50, 50, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(168, 50, 50, 0.6);
        }
        .input-disabled {
            background-color: rgba(0, 0, 0, 0.04);
            color: rgba(0, 0, 0, 0.25);
            cursor: default;
        }
        .drop {
            right: 14px;
            top: 10px;
            position: absolute;
            transform: translate(0, -50%);
            width: 10px;
            height: 10px;
            color: #666;
            border-top: 2px solid #ccc;
            border-left: 2px solid #ccc;
            transform: rotate(-135deg)
        }
    }
    .content {
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        border-radius: 10px;
        padding: 4px 0;
        position: absolute;
        left: 0;
        background-color: white;
        box-shadow: 0 0 20px 2px #ccc;
        text-align: center;
        z-index: 10000;
        li {
            height: 40px;
            line-height: 40px;
            width: 100%;
            &.selected {
                color: #ff615b;
            }
        }
        li:hover {
            color: #ff615b;
            background-color: rgba(33, 33, 33, 0.2);
        }
    }
    .content::-webkit-scrollbar {
        display: none;
    }
    .bottom {
        top: 110%;
    }
    .top {
        bottom: 125%;
    }
}
